canvas {
  image-rendering: pixelated;
}

body {
  padding: 0;
  margin: 0;
  width: min(100vw, 67vh);
  height: min(150vw, 100vh);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 55% 45%;
  overflow: hidden;
  background: #011;
}

#O, #O * {
  position: absolute;
  pointer-events: none;
}

#Z, #O {
  width: 100%;
  height: 100%;
}

#P {
  background: #0ff;
  height: 2vh;
  margin: 1vh 0;
}

#X {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.x {
  display: grid;
  grid-template-columns: 66% 34%;
  grid-template-rows: 50% 50%;
}

.a {
  grid-row: 1/3;
  width: min(33vw, 22vh);
  height: min(33vw, 22vh);
}

.b, .c {
  width: min(16vw, 11vh);
  height: min(16vw, 11vh);
}

.o {
  box-shadow: inset 0 0 0 min(1vh,1vw) #AFF;
}