canvas {
  image-rendering: pixelated;
}

body {
  padding: 0;
  margin: 0;
  width: min(100vw, 67vh);
  height: min(150vw, 100vh);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 55% 36% 9%;
  overflow: hidden;
}

#O, #O * {
  position: absolute;
  pointer-events: none;
}

#Z, #O {
  width: 100%;
  height: 100%;
}

#X {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

#V {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.x {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-auto-rows: 20%;
}

.a {
  grid-row: 1/3;
}

.a, .i, .b, .c {
  width: min(25vw, 17vh);
}

.b, .c {
  height: min(11vw, 7vh);
}

.a, .i {
  height: min(22vw, 15vh);
}

.o {
  outline: 1px solid black;
}